// Insert your styling here.

div.featured {
  background: url(../images/flowers1.jpg) no-repeat 0 0;
  height: 200px;
  width: 100%;
}

/* Transparent about block */
.block.block-about {
  background-color:rgba(84,28,21,0.6);
  color: white;

  /* If you want it on the side */
  float: right;
  width: 40%;
  height: 200px;
  padding-left: 15px;
  padding-top: 10px;
}